* {
    box-sizing: border-box;
}   

body {    
    font-size: 1.2vw;     
    margin-top: auto; 
    margin-right: 0%; 
    margin-left: 0%;      
    background-color: rgba(51, 36, 21, 0.722);          
}

ul { 
    display: flex;     
    list-style: none; 
    margin-right: 4vw;      
}

h1 {       
    font-size:2vw ;   
    color:white;     
}

h2 {   
    text-align: center; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2vw;
    color:white;
 }

p {        
    text-align: justify;                    
}

.container {
    display:grid;
    text-align: center;    
    grid-template-columns:19.8vw 19.8vw 19.8vw 19.8vw ;
    grid-template-rows: 5vw 3vw 30vw 15vw 10vw;    
}

/*    Titulo/Nome    */
.box1 {    
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;  
    font-size:2.5vw;     
    color:rgba(51, 30, 11, 0.722);     
}

/*    Menu de Navegação Principal    */
.box2 {      
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;         
}

.menu{
    width: 100%;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-size: 1vw; 
    background-color: white;  
    justify-content:space-evenly;  
}

/*  Informaçoes ao lado da foto */
.box3 {   
    justify-content: center;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 17;  
    margin-right: 5%;
    margin-top: 8%;    
}

/*  container img 1 */
.box4 {    
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 17;  
}

/* Imagem Homem */
#img1 {  
    width: 70%;   
    background-color:rgba(51, 30, 11, 0.722);
    margin-top: 8%;       
}

/*    Trabalho */
.box5 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
    margin-top: 7%;
    margin-right: 5%;
    margin-left: 5%;
}

 /* TEXTO HOBBIES E FORMAÇÃO*/    
#lista{  
    text-align: left;
    display: inline;        
    list-style-type: square;  
}

/*Hobbie*/
.box6 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:6;
    grid-row-end: 7;
}

#hobbie {    
    margin-left: 20%;         
}  

/*Formação*/
.box7 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:6;
    grid-row-end: 7;   
}

#formacao{    
    margin-left: 10%;    
}

/* Contato */
.box8 {      
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start:8;
    grid-row-end: 10;  
    text-align: center;
    justify-content: space-between;
    flex-flow: wrap ;
    padding-top: 9%;
    margin-right: 5%;        
}

/*Sobre mim */
.box9 {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start:6;
    grid-row-end: 7;
    margin-right:5%;     
}
#leiamais{
    font-size: 3vw;
    padding: 2vw;
}
/* Tfoot/ rodape */
.box10 {    
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start:8;
    grid-row-end: 9;
    background-color: white;
}

#rodape {
    font-size: 1.3vw;    
    justify-content:space-between; 
    padding: 1vw;   
}

/*   Referente  Envie sua menssagem   */
.box11{
    grid-column-start:1;
    grid-column-end: 4;
    grid-row-start: 8;
    grid-row-end: 9;   
   
}

/*   Referente  Envie sua menssagem   */
#mensagem,label ,input,textarea {    
    margin-left: 10%;
    margin-top: 0.3vw;
    display: flex;          
    font-size: 1vw;   
    border: none;     
    border-radius: 10px;     
}

/*   Referente ao botão Envie sua menssagem   */ 
.button{ 
    font-size: 0.8vw; 
    float: center;    
    margin-top: 2%; 
    border: none;     
    border-radius: 10px;    
  }
  
 /* RELACIOADO AO PASSAR EM CIMA DOS LINKS MUDAR DE COR*/
a,        
a:link {
    color:  rgba(51, 30, 11, 0.722);
    text-decoration: none;
    text-decoration-color: black;
    padding: 0.6vw 1vw;
    border: none;
}
a:visited{
    color:rgba(51, 30, 11, 0.722);
}
a:hover {
    border: none;    
    background-color: rgba(51, 30, 11, 0.722);
    color: white;
}

/* PARTE DA FUNÇÃO SAIBA MAIS, ONDE FAZ QUE PARTE DO TEXTO SELECIONADO FIQUE ESCONDIDO */
#mais{
    display: none;
}
 /*BOTÃO SAIBA MAIS */
#LeiaMais{
    padding: 0.5vw;
    font-size: 0.8vw;
    float:center;
    border: none;     
    border-radius: 10px;    
} 

@media screen and (max-width: 768px) {
    body {
        font-size: 3vw;
        background-color: rgb(80, 107, 79); 
    }
    h1 {
        font-size: 4vw;
    }
    h2{
        font-size: 5vw;
    }   
    
    ul{
        font-size: 2vw;
        
    }
    .container {
        grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
        grid-template-rows: 5vw 4vw 6vw 4vw 12vw 10vw 10vw ;        
    }
    
    .menu{        
        font-size:2vw; 
        justify-content: center;                      
    }  
    
    /* Imagem Homem */
    #img1{        
        margin-top: 25%;
        margin-left: 80%;
        width: 80%;        
        background-color: rgb(65, 88, 54);
    }

    /*  Informaçoes ao lado da foto */
    .box3 {
        justify-content: center;
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 7;
        grid-row-end: 10;  
        margin-right: 5%;
        margin-left: 5%;
        margin-top: 25%;         
    }

    /*    Trabalho */
    .box5{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 10;
        grid-row-end: 11;  
        margin-top: 10%;
    } 

    /*Hobbie*/
    .box6 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 12;
        grid-row-end: 17;  
        font-size: 4vw;
    }
    /*Formação*/
    .box7 {
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row-start: 12;
        grid-row-end:17;  
        font-size: 4vw;
        margin-right:5%;
    }

    /* Sobre mim */
    .box9 {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 18;
        grid-row-end: 25;
        margin-left: 5%;  
    }
    
        
    /* Contato */
    .box8{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 25;
        grid-row-end: 26;  
        text-align: center;
        justify-content: space-between;
        flex-flow: wrap ;
                     
    } 

    /* Tfoot/ rodape */
   .box10 {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 18;
        grid-row-end: 25;  
        background-color: white;
    }

    #rodape {
        font-size: 2vw;    
        justify-content:center; 
        padding: 2vw;    
    }
}